body {
    background-color: #eee;
}
#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 1px;
    width: 640px;
    height: 640px;
}

.box {
  background-color: #cecece;
  padding: 5px 5px;
  font-size: 80px;
}

.box.white {
    background-color: white;
}

.box.black {
    background-color: #cecece;
}
